/* couleurs : Primaire : #9356DC, Secondaire :#FF79DA, Tertiaire : #99E2D0
   Fonts : Logo et titres: Shrikhand, Texte: Roboto.
*/


* {
    font-family: "Roboto", "sans-serif";
}

a {
    color: black;
}

h3 {
    font-family: "Shrikhand", "sans-serif";
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}


/* loader animation */
/*
.main {
    animation: 3s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

#loading {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    visibility: visible;
    border-radius: 50%;
    border: 20px solid #9356DC;
    border-color: #9356DC transparent #FF79DA transparent;
    animation: spin 1s ease-in-out infinite, fadeOut 3s;
    -webkit-animation: spin 1s ease-in-out infinite, fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
        margin-top: -370px;
    }
}

@keyframes fadeOut {
    99% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
*/