@media screen and (max-width: 375px) {
  .card:hover .fa.fa-circle-check {
      transform: translateX(-120%) rotate(360deg)!important;
      margin-right: -65px;
  }
}
@media screen and (max-width: 640px) {
  .card:hover .fa.fa-circle-check {
      transform: translateX(-185%) rotate(360deg)!important;
  }
  #to-left2:hover:after {
          left: 75%;    
  }
}
@media screen and (min-width: 700px) {
  .to-left:hover:after {
      left: 85%;
      margin-left: 90px;

  }
}
 /* ANIMATION MENUS FADEIN */

 .vignets1 {
  animation: fadein 1s;
}
.vignets2 { 
  animation: fadein 2s;
}
.vignets3 { 
  animation: fadein 3s;
}
.vignets4 {
  animation: fadein 4s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}


/* début code animation remplissage to-left */

.bloc-couleur {
    width:100%;
    height:auto;
    border:transparent;
    position:relative;
    display:inline-block;
    overflow:hidden;
    text-align:right;
    vertical-align:middle;
    
  }

  .bloc-couleur div{
    position:relative;
    z-index:2;
  }

  .couleur-remplissage:after{
    content:'';
    display:flex;
    position:absolute;
    
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background-color: #99E2D0;
    transition :  0.35s ease-in-out;
    transition-property : top, bottom, left,right, border-width;
    
  }
  .to-left:after{
    left:100%;
    
  }
  .to-left:hover:after {
    left:75%;
  }
  
  .card:hover .fa.fa-circle-check {
    color:white;
    border: 5px solid transparent;
    border-radius: 50%;
    margin-left: 100px;
    transform:  translateX(-180%) rotate(360deg);
    transition: 0.35s;
    
    
  }
  .fa.fa-circle-check {
    display: block;
    position: relative;
    color: white;
    border: 5px solid transparent;
    border-radius: 50%;
    margin-right: -50px;
    margin-top: -10px; 
  }

  .hid2 {
    opacity: 0;
}